.light {
    --background: #d8d8d8;
    --primary: #1f1f1f;
    --secondary: #ffffff;
    --border: #000000;
}
.dark {
    --background: #202020;
    --primary: #ebebeb;
    --secondary: #4e4e4e;
    --border: #ffffff;
}
.hacker {
    --background: #000000;
    --primary: #00ff00;
    --secondary: #4e4e4e;
    --border: #00aa00;
}
.monochrome {
    --background: #000000;
    --primary: #ffffff;
    --secondary: #000000;
    --border: #ffffff;
}
.colorful {
    --background: #1eff00;
    --primary: #ff00f2;
    --secondary: #fff000;
    --border: #00eeff;
}
