@import url(themes.css);

:root {
    overflow-x: hidden;
}

* {
    color: var(--primary);
}

body {
    background-color: var(--background);
}

h1 {
    text-align: center;
}

select {
    background-color: var(--background);
    color: var(--primary);
}

#app {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
}

#filters {
    border: 6px inset var(--border);
    margin: 1% 0;
    padding: 1%;
    background-color: var(--secondary);
}

#filters * {
    margin: 0.5rem 0;
}

#filters .filter {
    display: flex;
    align-items: center;
    gap: 1%;
}

#category {
    display: flex;
    flex-direction: column;
    border-top: 2px solid var(--border);
}

.card {
    border: 6px ridge var(--border);
    align-items: center;
    display: flex;
    flex-direction: column;
    min-width: 20%;
    gap: 0.5rem;
    padding: 1%;
    flex-grow: 1;
    justify-content: space-evenly;
    text-align: center;
    background-color: var(--secondary);
}

.card * {
    margin: 0 auto;
}

.card h2 {
    font-size: 1.5rem;
    text-decoration: underline;
}

.card .price {
    text-decoration: line-through;
    font-size: 1rem;
}

.card .discount {
    font-size: 1.25rem;
}

.card .saving {
    font-style: italic;
    font-size: 1.1rem;
}

.card img {
    height: 20vh;
}

.card button {
    width: 100%;
    height: 2rem;
    background-color: var(--secondary);
    border: 4px var(--border) outset;
}

.card button.cart:hover {
    cursor: pointer;
}

.card button.nocart:hover {
    cursor: not-allowed;
}

.card button:active {
    border: 4px var(--border) inset;
}

.card img {
    max-width: 100%;
}

.card .rating {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.card .rating * {
    margin: auto 0;
}

.card .startext {
    /* if css is gone then the fancy ratings bar will die. but if css is gone then this rule will be gone. and the star rating will be displayed in text */
    display: none;
}

.card .stars {
    display: inline-flex;
    gap: 2px;
    flex-grow: 1;
    justify-content: center;
    /* round the corners. awesome */
    border-radius: 1rem;
    border: 3px #000000 solid;
    overflow: hidden;
    background: #000000;
}

.card .stars .star {
    width: 20%;
    height: 1rem;
    display: inline-flex;
    justify-content: left;
    align-items: baseline;
    gap: 0;
    background-color: #777777;
    margin: 0;
}

.card .stars .star * {
    height: 1rem;
    margin: 0;
}

.card .stars .star .filled {
    background-color: #ffff00;
}

.card .stars .star .empty {
    width: auto;
}

@keyframes cartAdd {
    from {
        bottom: 2vh;
    }
    to {
        bottom: 3vh;
    }
}

#cart {
    display: flex;
    position: fixed;
    bottom: 2vh;
    left: 2vw;
    font-size: 3rem;
    transition-property: left, bottom;
    transition-timing-function: ease-in;
    border: 10px var(--border) outset;
    border-radius: 5%;
    background-color: var(--secondary);
    padding: 1%;
    white-space: nowrap;
}

#cart.empty:hover {
    cursor: not-allowed;
}

#cart:not(.empty):hover {
    cursor: pointer;
}

#cart:not(.empty):active {
    border: 10px var(--border) inset;
}

.animation {
    animation-name: cartAdd;
    animation-duration: 50ms;
    animation-direction: alternate;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
